{{>navbar}}
{{>message}}

<div class="text-center mt-4">
    <h1>Citas</h1>
</div>
<section class="container mt-5 mb-5">
    <div class="row">
        {{#each cita}}
        <div class="col-xl-4 col-md-6 col-sm-12 mx-auto mb-5">
            <div class="card card_container text-center">
                <div class="card-header">
                    <h3>{{fecha}} -- {{hora}}</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-info" href="/user/citas/edit/{{id_cita}}">
                        Reagendar
                    </a>

                    <a href="/user/citas/delete/{{id_cita}}" class="btn btn-danger"
                        onclick="return confirm('¿Quieres cancelar tu cita?')">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>

        {{else}}
        <div class="col-xl-4 col-md-6 col-sm-12 mx-auto">
            <div class="card card_container text-center">
                <div class="card-header">
                    <h3>No has agendado ninguna cita</h3>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">
                        ¡Agenda una!
                    </h5>
                    <a class="btn btn-success mt-4" href="/user/citas/add">
                        Agendar
                    </a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</section>